[Desktop Entry]
Type=Application
Name=MimOffice Words
Exec=calligrawords %U
GenericName=Word Processor
Comment=Write documents
MimeType=application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.text-template;application/msword;application/rtf;application/x-mswrite;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.openxmlformats-officedocument.wordprocessingml.template;application/vnd.ms-works;application/vnd.wordperfect;
X-KDE-ServiceTypes=Calligra/Application
Icon=org.kde.calligra.words
X-KDE-NativeMimeType=application/vnd.oasis.opendocument.text
X-Calligra-DefaultMimeTypes=application/vnd.oasis.opendocument.text,application/vnd.oasis.opendocument.text-template,application/msword,application/rtf,application/x-mswrite,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.wordprocessingml.template,application/vnd.ms-works,application/vnd.wordperfect
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.calligra.words
Categories=Qt;KDE;Office;WordProcessor;
InitialPreference=4
